@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    scroll-behavior: smooth;
    cursor: none;
  }

  * {
    cursor: none !important;
  }

  body {
    @apply bg-brand-black text-brand-white;
  }

  ::selection {
    background-color: #ffffff22;
  }
}
